                        @import 'colors';
                        @import 'animation';
                        *::before,
                        *::after {
                            box-sizing: border-box;
                            margin: 0;
                            padding: 0;
                            // overflow-y: hidden;
                        }
                        
                        html {
                            scroll-padding-top: 82px;
                            // scroll-behavior: smooth;
                        }
                        
                        body {
                            position: relative;
                            background-color: $bg-color;
                            font-family: 'Montserrat', sans-serif;
                        }
                        
                        .main-container {
                            overflow-x: hidden;
                        }
                        
                        h2 {
                            text-align: center;
                            text-transform: uppercase;
                        }
                        
                        .blue-text {
                            color: $main-color;
                        }
                        
                        .underline {
                            width: 60px;
                            height: 4px;
                            background-color: $main-color;
                            margin: 0 auto 40px;
                        }
                        
                        nav {
                            text-transform: uppercase;
                            color: $white-color;
                            z-index: 1;
                            transition: background-color .6s;
                            a,
                            i {
                                color: $white-color !important;
                            }
                            a:hover {
                                color: $main-color !important;
                            }
                            .navbar-brand {
                                font-weight: bold;
                            }
                            .active {
                                color: $main-color !important;
                            }
                            i {
                                padding: 10px;
                            }
                        }
                        
                        .shadow-bg {
                            background-color: rgba(0, 0, 0, .8);
                        }
                        
                        header {
                            color: $white-color;
                            h1 {
                                text-transform: uppercase;
                                font-size: 30px;
                            }
                            p {
                                font-size: 14px;
                            }
                            .hero-img {
                                position: relative;
                                height: 100vh;
                                background-image: url('../img/console-low.jpg');
                                background-position: center;
                                background-size: cover;
                                background-attachment: fixed;
                                z-index: 6;
                            }
                            .hero-shadow {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, .8);
                                z-index: -10;
                            }
                            .hero-text {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                height: 100vh;
                                padding: 10px;
                                text-align: center;
                                z-index: 5;
                            }
                            .btn-outline-light {
                                text-transform: uppercase;
                            }
                            .fa-chevron-down {
                                position: absolute;
                                left: 50%;
                                transform: translateX(-50%);
                                bottom: 20px;
                                font-size: 30px;
                                color: $white-color;
                            }
                        }
                        
                        .aboutus {
                            i {
                                margin-top: 20px;
                                font-size: 30px;
                            }
                            .aboutus-card-title {
                                font-size: 14px;
                                text-transform: uppercase;
                            }
                            // .aboutus-hover {
                            //     transition: color .3s;
                            // }
                            .aboutus-hover:hover {
                                color: $main-color;
                            }
                        }
                        
                        .aboutus-hero {
                            position: relative;
                            background-image: url('../img/technology640.jpg');
                            background-position: center;
                            background-size: cover;
                            color: $light_gray;
                            z-index: 0;
                            .aboutus-shadow {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                background: rgba(0, 0, 0, .7);
                                z-index: -5;
                            }
                            .aboutus-hero-item {
                                margin: 10px 0;
                                i {
                                    font-size: 36px;
                                }
                                .boutus-hero-title {
                                    font-size: 24px;
                                }
                            }
                        }
                        
                        .portfolio {
                            .carousel-item {
                                height: 600px;
                                position: relative;
                            }
                            .carousel-caption {
                                position: absolute;
                                left: 0;
                                right: 0;
                                padding: 40px 0;
                                background-color: rgba(0, 0, 0, .8);
                            }
                            .carousel-indicators {
                                padding-bottom: 20px;
                            }
                            .card {
                                margin: 10px 20px;
                                //     border: none;
                            }
                        }
                        
                        .prices {
                            .price-box {
                                background-color: $white-color;
                                margin: 20px;
                                transition: transform .3s;
                            }
                            .price-box:hover {
                                transform: scale(1.1);
                            }
                            .underline-prices {
                                margin: 10px 0;
                                width: 100%;
                                height: 1px;
                                background-color: gray;
                            }
                            h3 {
                                text-transform: uppercase;
                                color: $main-color;
                            }
                            span {
                                font-weight: bold;
                            }
                            i {
                                padding: 0 2px;
                                font-weight: bold;
                            }
                            button {
                                padding: 10px 20px;
                                text-transform: uppercase;
                            }
                            .price-tag {
                                font-size: 36px;
                                font-weight: bold;
                            }
                            .price-info {
                                a {
                                    text-decoration: none;
                                }
                            }
                        }
                        
                        .team {
                            position: relative;
                            background-image: url('../img/meeting-room-828547_1920.jpg');
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                            background-attachment: fixed;
                            z-index: 0;
                            .card {
                                margin: 0 20px;
                                transition: transform .3s;
                                img {
                                    height: 300px;
                                    object-fit: cover;
                                }
                                i {
                                    padding: 10px;
                                }
                                h5 {
                                    text-transform: uppercase;
                                    text-align: center;
                                }
                            }
                            .card-body {
                                height: 160px;
                            }
                            h2 {
                                color: $bg-color;
                            }
                            .card:hover {
                                transform: scale(0.95);
                            }
                            .hero-shadow {
                                position: absolute;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                background-color: rgba(0, 0, 0, .8);
                                z-index: -10;
                            }
                        }
                        
                        .achievements {
                            background-color: $bg-color;
                            .achievement-number {
                                font-size: 22px;
                            }
                            .achievement-text {
                                font-size: 13px;
                            }
                            i {
                                font-size: 32px;
                                color: $white-color;
                                text-shadow: 0 0 5px rgba(0, 0, 0, .8);
                            }
                            p {
                                text-transform: uppercase;
                            }
                        }
                        
                        .contact {
                            position: relative;
                            background-image: url('../img/skyline-ged4f63aa2_1920.jpg');
                            background-size: cover;
                            background-position: bottom;
                            background-attachment: fixed;
                            z-index: 0;
                            .underline {
                                background-color: $bg-color;
                            }
                            .contact-shadow {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                top: 0;
                                background: rgba(0, 9, 27, 0.8);
                                z-index: -5;
                            }
                            .contact-us {
                                display: flex;
                                align-items: center;
                                color: $white-color;
                            }
                            .contact-item {
                                margin: 30px 0;
                                h3 {
                                    margin-bottom: 15px;
                                    text-transform: uppercase;
                                    letter-spacing: 2px;
                                }
                                .social-media {
                                    font-size: 26px;
                                    a {
                                        padding: 10px;
                                        color: $white-color;
                                    }
                                    a:hover {
                                        color: $bg-color;
                                    }
                                }
                            }
                            h2 {
                                color: $bg-color;
                                font-weight: bold;
                            }
                            h3 {
                                text-transform: uppercase;
                            }
                        }
                        
                        // MEDIA // =========================================================
                        @media(min-width: 1200px) {
                            header {
                                .hero-img {
                                    position: relative;
                                    height: 100vh;
                                    background-image: url('../img/console-big.jpg');
                                    background-position: center;
                                    background-size: cover;
                                    background-attachment: fixed;
                                    z-index: 0;
                                }
                            }
                        }
                        
                        @media(min-width: 376px) {
                            header {
                                h1 {
                                    font-size: 36px;
                                }
                                p {
                                    font-size: 16px;
                                }
                            }
                        }
                        
                        @media(min-width: 992px) {
                            nav {
                                height: 82px;
                            }
                            .aboutus-hero {
                                background-image: url('../img/console-big.jpg');
                            }
                            .prices {
                                .price-info {
                                    font-size: 18px;
                                }
                            }
                        }
                        
                        @media(min-width: 768px) {
                            header {
                                h1 {
                                    font-size: 42px;
                                }
                                p {
                                    font-size: 20px;
                                }
                            }
                            .prices {
                                .price-info {
                                    font-size: 20px;
                                }
                                .text-muted {
                                    font-size: 16px;
                                }
                            }
                        }